# Disable script execution in the uploads directory
<FilesMatch "(?i)\.(php|php3|php4|php5|php7|phtml|pl|py|jsp|asp|htm|html|shtml|sh|cgi)$">
    <IfModule authz_core_module>
        Require all denied
    </IfModule>
    <IfModule !authz_core_module>
        Order Deny,Allow
        Deny from all
    </IfModule>
</FilesMatch>

<IfModule mod_php7.c>
    php_flag engine off
</IfModule>
<IfModule mod_php.c>
    php_flag engine off
</IfModule>

Options -Indexes -ExecCGI
